@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<br>
<br>
<br>

<h1>Windows Update History </h1>
<br>
<br>

<h3>To generate new reports: Click on <em>Servers</em> </h3>

<h3>To view old reports: Click on <em>View Reports</em> </h3>


